<style> 
b{ 
color:black;
border:4px;
border-style:solid;
background-color:orange;
font-face:"cursive";

}
i{
font-face: "cursive";
font-size:20;
colour:white;
background-color:yellow;

}
p{
border:5px;
color:brown;
font-size=27;
border-style:dotted;
text-align : center;
}
#p2
{
color: indigo;
border:5px
border-style:solid;
}
input
{
background-color: grey
}
</style>